@import '../../../public/scss/settings';

:host {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  /deep/ a {
    display: block;
    padding: 9px 12px;
    text-decoration: none;

    &:nth-child(n+2) {
      border-top: 1px solid $neutral-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: transparent;

    &.show {
      background: $primary-color-light;
    }
  }
}

div.app-menu-cnt {
  background: white;
  box-shadow: 2px 2px 2px rgba(black, 0.25);
  color: black;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
    
  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
  }
}