<button type="button" class="app-menu-btn" [class.show]="showMenu" [innerHtml]="menuName" (click)="onBtnClick()"></button>
<div class="app-menu-cnt" [class.show]="showMenu">
  <ng-content></ng-content>
</div>