@import '../../../public/scss/settings';

img {
  animation: rotate-clockwise 500ms 500ms;
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

p {
  animation: fade-in 1s;
  font-size: 150%;
  margin: 20px 0;
  text-align: center;
}