<img src="assets/chrome-logo.svg" alt="" *ngIf="browserName === 'Chrome'">
<img src="assets/edge-logo.svg" alt="" *ngIf="browserName === 'Edge'">
<img src="assets/firefox-logo.svg" alt="" *ngIf="browserName === 'Firefox'">
<img src="assets/ie-logo.svg" alt="" *ngIf="browserName === 'IE'">
<img src="assets/opera-logo.svg" alt="" *ngIf="browserName === 'Opera'">
<img src="assets/safari-logo.svg" alt="" *ngIf="browserName === 'Safari'">
<p [innerHtml]="browserMessage"></p>