/* Globals */

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

a {
    color: $primary-color;
}

/* Buttons */

button {
    background: $secondary-color;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    padding: 0 12px;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}