/* Colors */

$primary-color: #137ccb;
$primary-color-dark: #0a2a43;
$primary-color-light: #3aaaff;
$secondary-color: #307d50;
$secondary-color-light: #48a66d;
$tertiary-color: #de4b41;
$neutral-color: #e7e7e7;
$neutral-color-dark: #d0d0d0;

/* Breakpoints */

$mobile: 320px;
$tablet: 768px;
$desktop-md: 960px;
$desktop-lg: 1280px;

$mobile-max: ($tablet - 1);
$tablet-max: ($desktop-md - 1);
$desktop-md-max: ($desktop-lg - 1);

/* Fonts */

$font-stack: Arial, Helvetica, sans-serif;

/* Animations */

@-webkit-keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}