@import 'settings';
@import 'reset';

/* App Body */

body {
    background: $neutral-color-dark;
    color: $primary-color-dark;
    font: 100%/1.5 $font-stack;
}

/* App Loader */

div {

    &.app-loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        &:before {
            border: 6px solid rgba(white, 0.3);
            border-right-color: white;
            border-radius: 50%;
            content: '';
            width: 36px;
            height: 36px;
            margin-bottom: 8px;
            animation: rotate-clockwise 750ms infinite;
        }
    }
}
