@import '../../../public/scss/settings';

header {
  background: $secondary-color;
  color: white;
  margin-top: 20px;
  padding: 8px 12px;

  + div {
    background: white;
    padding: 40px;
  }

  &.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    right: 0;
    left: 0;

    + div {
      padding-top: 100px;
    }
  }
}

h3 {
  font-size: inherit;
  font-weight: normal;
}

p + p {
  margin-top: 20px;
}