<h2>On Keycode</h2>
<div class="settings" onKeycode onKeycodeWhich="{{codeRef.value}}" [onKeycodeMatch]="onKeycodeMatches" onKeycodeArguments="{{msgRef.value}}" [onKeycodeDisabled]="disabled">
  <h4>Settings:</h4>
  <label for="code"><span>Keycode:</span><input type="text" id="code" name="code" [(ngModel)]="eKeyCode" (focus)="disabled = true" (blur)="disabled = false" (keyup)="setKeycode($event)" #codeRef></label>
  <label for="msg"><span>Message:</span><input type="text" id="msg" name="msg" value="Enter Key Pressed" (focus)="disabled = true" (blur)="disabled = false" #msgRef></label>
</div>
<div class="values">
  <h4>Values:</h4>
  <ul>
    <li [innerHTML]="'Key: ' + eKey"></li>
    <li [innerHTML]="'Code: ' + eKeyCode"></li>
    <li [innerHTML]="'Message: ' + msgRef.value"></li>
  </ul>
</div>
<button type="button" (click)="onKeycodeMatches(msgRef.value)" [disabled]="disabled">Confirm</button>&nbsp;<span class="msg" [innerHTML]="'or press the ' + eKey + ' key'"></span>
<div class="disable">
  <label for="disable"><input type="checkbox" id="disable" name="disable" [(ngModel)]="disabled"> Disable On Keycode</label>
  <p [innerHTML]="'Status: ' + (disabled ? 'Disabled' : 'Enabled')"></p>
</div>