/* On Keycode */

p {
  margin: 20px 0;
}

div {
  display: table;
  margin: 20px 0;
}

label {
  display: flex;
  margin-top: 10px;
  align-items: center;

  span {
    width: 80px;
  }
}

[type="text"] {
  border: none;
  height: 24px;
  padding: 0 6px;
}

[type="checkbox"] {
  margin-right: 6px;
}

:disabled {
  cursor: not-allowed;
}

ul {
  margin: 10px 0 0 16px;
}

span {

  &.msg {
    margin-left: 6px;
  }
}