/* Alphanumeric Input */

div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

label {
  margin-right: 10px;
}

[type="text"] {
  border: none;
  width: 200px;
  height: 24px;
  padding: 0 6px;
}

p {
  width: 100%;
  margin-top: 20px;
  
  em {
    font-size: 87.5%;
  }
}