<h2>Alphanumeric Input</h2>
<div>
  <label for="vin">Enter VIN</label>
  <input type="text" id="vin" maxlength="17" alphanumericInput [(ngModel)]="inputVal" (focus)="onFocus()" (blur)="onBlur()">
  <p [innerHtml]="'current value ' +  (inputVal ? inputVal : ':-(')"></p>
  <p [innerHtml]="'focus value ' +  (focusVal ? focusVal : ':-(')"></p>
  <p [innerHtml]="'blur value ' +  (blurVal ? blurVal : ':-(')"></p>
</div>
<p><em>* This demo also implements the uppercase-input directive to convert the model value to uppercase.</em></p>