<nav>
  <ul>
    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/browser-details">Browser Details</a></li>
    <li routerLinkActive="active"><a routerLink="/tooltip-demo">Tooltip Demo</a></li>
    <li routerLinkActive="active"><a routerLink="/on-keycode">On Keycode</a></li>
    <li routerLinkActive="active"><a routerLink="/scroll-to">Scroll To</a></li>
    <li routerLinkActive="active"><a routerLink="/dynamic-form">Dynamic Form</a></li>
    <li routerLinkActive="active"><a routerLink="/image-gallery">Image Gallery</a></li>
    <li routerLinkActive="active"><a routerLink="/fixed-header">Fixed Header</a></li>
    <li routerLinkActive="active"><a routerLink="/match-media">Match Media</a></li>
    <li>
      <app-menu menuName="Input FX" #inputMenu>
        <a routerLink="/numeric-input" (click)="inputMenu.onLinkClick()">Numeric Input</a>
        <a routerLink="/uppercase-input" (click)="inputMenu.onLinkClick()">Uppercase Input</a>
        <a routerLink="/alphanumeric-input" (click)="inputMenu.onLinkClick()">Alphanumeric Input</a>
        <a routerLink="/currency-manipulator" (click)="inputMenu.onLinkClick()">Currency Manipulator</a>
      </app-menu>
    </li>
  </ul>
</nav>