@import '../../../public/scss/settings';

ul {
  background: $primary-color;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li {

  > a {
    color: white;
    padding: 0 12px;
    line-height: 40px;
    text-decoration: none;
  }

  &.active {
    background: $primary-color-light;
  }
}