<div class="image-gallery-container" #imageGalleryContainer>
  <div class="image-gallery-slides" [ngClass]="aspectRatio">
    <img *ngFor="let image of images; let i = index" [src]="image.src" [class.active]="currentImage === i" [alt]="image.alt" [title]="image.des">
    <div class="image-gallery-controls" *ngIf="!hideControls && (images.length > 1)">
      <a href="javascript:void(0);" title="show previous image" (click)="showPrev()">Previous Image</a><a href="javascript:void(0);" title="show next image" (click)="showNext()">Next Image</a>
    </div>
  </div>
  <div class="image-gallery-pages" *ngIf="!hidePagination && !showThumbnails && (images.length > 1)">
    <a href="javascript:void(0);" *ngFor="let image of images; let i = index" [class.active]="currentImage === i" [innerHTML]="'image ' + (i + 1)" [title]="'show image ' + (i + 1)" (click)="showImage(i)" #pageLink></a>
  </div>
  <div class="image-gallery-thumbs" [ngClass]="{'show-controls' : (images.length > thumbnailsPerPage)}" *ngIf="showThumbnails && (images.length > 1)">
      <div class="image-gallery-thumbs-panel">
          <div class="image-gallery-thumbs-slide" #thumbSlide>
            <a href="javascript:void(0);" *ngFor="let image of images; let i = index" [class.active]="currentImage === i" (click)="showImage(i)" #thumbLink><img [src]="image.src" [alt]="image.alt" [title]="image.des"></a>
          </div>
          <div class="image-gallery-thumbs-controls" *ngIf="(images.length > thumbnailsPerPage)">
            <a href="javascript:void(0);" [class.disabled]="(thumbPageNumber === 1)" (click)="thumbsPrev()">Previous Thumbnails</a>
            <span [innerHTML]="'Page ' + thumbPageNumber + ' of ' + thumbPageCount" *ngIf="!hidePageCount"></span>
            <a href="javascript:void(0);" [class.disabled]="(thumbPageNumber === thumbPageCount)" (click)="thumbsNext()">Next Thumbnails</a>
          </div>
      </div>
  </div>
</div>