/* Image Gallery Palette */

$page-control-color: #0D74AF; // Ligh Blue Dark

$page-indicator-color: #b4babd; // Charcoal Lightest
$page-indicator-active-color: #687680; // Charcoal Light

$thumb-control-color: $page-control-color; // Ligh Blue Dark

/* Image Gallery Container */

div.image-gallery-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    
    img {
        border: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Image Gallery Slides */

div.image-gallery-slides {
    position: relative;
    overflow: hidden;
    
    &.sd {
        padding-top: 75%; // 4:3 Aspect Ratio (Ex. 640 x 480)
    }
    
    &.hd {
        padding-top: 56.25%; // 16:9 Aspect Ratio (Ex. 1920 x 1080)
    }
    
    img {
        opacity: 0;
        
        &.active {
            opacity: 1;
        }
    }
}

/* Image Gallery Controls */

div.image-gallery-controls {
    
    a {
        background: $page-control-color no-repeat 50%;
        border-radius: 4px;
        width: 36px;
        height: 0;
        margin-top: -24px;
        padding-top: 48px;
        position: absolute;
        top: 50%;
        overflow: hidden;
        
        &:first-child {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='8 2 16 28'%3E%3Cpath fill='%23fff' d='M22.08 30L24 28.09 11.838 16 24 3.91 22.08 2 8 16'/%3E%3C/svg%3E");
            left: 12px;
        }
        
        &:last-child {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='8 2 16 28'%3E%3Cpath fill='%23fff' d='M9.92 2L8 3.91 20.162 16 8 28.09 9.92 30 24 16'/%3E%3C/svg%3E");
            right: 12px;
        }
    }
}

/* Image Gallery Pages */

div.image-gallery-pages {
    margin-top: 12px;
    font-size: 0; // Fix for unwanted margin caused by using display: inline-block.
    
    a {
        background: $page-indicator-color;
        border-radius: 50%;
        display: inline-block;
        width: 18px;
        height: 0;
        margin: 0 3px;
        padding-top: 18px;
        overflow: hidden;
        
        &.active {
            background: $page-indicator-active-color;
        }
    }
}

/* Image Gallery Thumbs */

div.image-gallery-thumbs-panel {
    width: calc(100% + 2px);
    margin-top: 2px;
    position: relative;
    left: -1px;
    overflow: hidden;
}

div.image-gallery-thumbs-slide {
    position: relative;
    left: 0;
    transition: left 500ms;
    font-size: 0; // Fix for unwanted margin caused by using display: inline-block.
    white-space: nowrap;
    
    // Width and padding-top (height) of the thumbnail links is set via JavaScript to maintain the available sd (4:3) and hd (16:9) aspect ratios.
    
    a {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        overflow: hidden;
        
        img {
            opacity: 0.65;
            width: calc(100% - 2px);
            left: 1px;
        }
        
        &.active {
            
            img {
                opacity: 1;
            }
        }
    }
}

/* Image Gallery Thumbs Controls */

div.image-gallery-thumbs-controls {
    margin-top: 12px;
    
    a {
        background: $thumb-control-color no-repeat 50% / 40%;
        border-radius: 4px;
        display: inline-block;
        width: 36px;
        height: 0;
        margin: 0 2px;
        padding-top: 36px;
        overflow: hidden;
        vertical-align: middle;
        
        &:first-child {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='8 2 16 28'%3E%3Cpath fill='%23fff' d='M22.08 30L24 28.09 11.838 16 24 3.91 22.08 2 8 16'/%3E%3C/svg%3E");
        }
        
        &:last-child {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='8 2 16 28'%3E%3Cpath fill='%23fff' d='M9.92 2L8 3.91 20.162 16 8 28.09 9.92 30 24 16'/%3E%3C/svg%3E");
        }
        
        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    
    span {
        display: inline-block;
        margin: 0 8px;
        vertical-align: middle;
    }
}