<h2>Currency Manipulator</h2>
<div>
  <label for="cash-down">Cash Down:</label>
  <input type="text" id="cash-down" [(ngModel)]="cashDown" currencyManipulator numericInput="decimal">
</div>
<div>
  <label for="sale-price">Sale Price</label>
  <input type="text" id="sale-price" [(ngModel)]="salePrice" currencyManipulator numericInput="decimal">
</div>
<p><span>Cash Down: </span><span [innerHTML]="cashDown"></span></p>
<p><span>Sale Price: </span><span [innerHTML]="salePrice"></span></p>