@import '../../../public/scss/settings';

:host {
  position: fixed;
  bottom: 36px;
  right: 36px;
}

button {
  background: $primary-color-dark;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s 0s, visibility 0s 1s;
  z-index: 999;

  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
  }
}