<h2 [innerHTML]="title"></h2>
<form action="">
  <dynamic-input *ngFor="let source of incomeSources; let i = index" [index]="i" [incomeSource]="source" [incomeTypes]="incomeTypes" (onResetIncomeSource)="onResetIncomeSource($event)" (onRemoveIncomeSource)="onRemoveIncomeSource($event)"></dynamic-input>
  <button type="button" (click)="addIncomeSource()">Add Income Source</button>
</form>
<div class="source-summary" *ngFor="let source of incomeSources; let i = index">
  <p [innerHTML]="'Income Source ' + (i + 1) + ': ' + source.source"></p>
  <p [innerHTML]="'Employment Type: ' + source.type"></p>
  <p [innerHTML]="'Monthly Gross Income: ' + source.gross"></p>
</div>
