/* Dynamic Input Component */

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label, input, select {
  border: 0;
  height: 24px;
  line-height: 24px;
  margin-right: 12px;
}

input {
  padding: 0 6px;
}

button {
  width: auto;
  height: 24px;

  &:nth-of-type(n+2) {
    margin-left: 10px;
  }
}