<label for="income-source-{{incomeIndex}}" [innerHTML]="'Income Source ' + incomeIndex"></label>
<input type="text" id="income-source-{{incomeIndex}}" name="income-source-{{incomeIndex}}" [(ngModel)]="incomeSource.source">
<label for="income-type-{{incomeIndex}}">Employment Type</label>
<select id="income-type-{{incomeIndex}}" name="income-type-{{incomeIndex}}" [(ngModel)]="incomeSource.type">
  <option *ngFor="let type of incomeTypes; let i = index" value="{{type}}" [innerHTML]="type"></option>
</select>
<label for="income-gross-{{incomeIndex}}">Monthly Gross Income</label>
<input type="text" id="income-gross-{{incomeIndex}}" name="income-gross-{{incomeIndex}}" [(ngModel)]="incomeSource.gross">
<button type="button" id="reset-input-{{incomeIndex}}" (click)="resetIncomeSource(index)">Reset</button>
<button type="button" id="remove-input-{{incomeIndex}}" *ngIf="index > 0" (click)="removeIncomeSource(index)">Remove</button>