/* Numeric Input */

div {
  margin-top: 20px;
}

label {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

input {
  border: 0;
  width: 128px;
  height: 24px;
  padding: 0 6px;
}

p {
  margin-top: 20px;
}