<h2>Numeric Input</h2>
<div>
  <label for="phone">Enter Numbers: </label>
  <input type="text" [(ngModel)]="inputVal" id="phone" numericInput="decimal" (focus)="onFocus()" (blur)="onBlur()">
  <p [innerHtml]="'current value ' +  (inputVal ? inputVal : ':-(')"></p>
  <p [innerHtml]="'focus value ' +  (focusVal ? focusVal : ':-(')"></p>
  <p [innerHtml]="'blur value ' +  (blurVal ? blurVal : ':-(')"></p>
</div>