<ng-content select=".app-tt-target"></ng-content>
<div class="app-tt-wrapper">
  <button type="button" class="app-tt-btn" [class.show]="showMenu" (click)="onBtnClick()"><span [innerHtml]="menuName"></span></button>
  <div class="app-tt-popup" [class.show]="showMenu">
    <ng-content select=".app-tt-content"></ng-content>
    <button type="button" class="app-tt-close" (click)="onLinkClick()">Close</button>
  </div>
</div>