@import '../../../public/scss/settings';

:host { // app-tooltip
  background: pink;
  display: inline-block;
  min-height: 24px;
  padding-right: 32px;
  position: relative;
}

div.app-tt-wrapper {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
}

div.app-tt-popup {
  background: white;
  color: black;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
    
  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
  }
}

button {

  &.app-tt-btn {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    float: right;

    span {
      font-size: 0;
    }
  }
}

@media (max-width: $tablet-max) {

  div.app-tt-popup {
    min-width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
}

@media (min-width: $desktop-md) {

  div.app-tt-popup {
    box-shadow: 2px 2px 2px rgba(black, 0.25);
    width: 280px;
    position: relative;
    top: 24px;
    left: calc(50% - 12px);
  }
  
}

// :host {
//   background: orange;
//   display: inline-block;
//   min-height: 24px;
//   padding-right: 32px;
//   position: relative;
// }

// button.app-tt-close {
//   display: none;
// }

// div.app-tt-wrapper {
//   background: pink;
//   position: absolute;
//   top: calc(50% - 12px);
//   right: 0;
// }

// div.app-tt-popup {
//   background: $neutral-color;
//   box-sizing: border-box;
//   color: black;
//   line-height: normal;
//   padding: 13px 16px;
//   font-size: 14px;
// }

// button.app-tt-btn {
//   width: 24px;
//   height: 24px;
//   padding: 0;
//   font-size: 0;
//   float: right;
// }

// @media (max-width: $tablet-max) {

//   div.app-tt-popup {
//     min-width: 320px;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
  
// }

// @media (min-width: $desktop-md) {

//   div.app-tt-popup {
//     box-shadow: 1px 1px 1px rgba(black, 0.2);
//     width: 320px;
//     position: relative;
//     top: 24px;
//     left: calc(50% - 12px);
//   }
  
// }