@import '../../../public/scss/settings';

h2 {
  margin-bottom: 20px;
  text-align: center;

  &:nth-of-type(2) {
    margin: 20px 0;
  }
}

p {
  background: darken($primary-color, 10%);
  color: white;
  margin-bottom: 20px;
  padding: 8px 12px;

  &.b {
    background: $primary-color;
  }

  &.c {
    background: lighten($primary-color, 10%);
  }
}

ul {
  display: flex;
  list-style: none;
  text-align: center;
}

li {
  background: $secondary-color;
  color: white;
  padding: 12px 0;
  flex: 1;

  &:nth-child(n+2) {
    margin-left: 4px;
  }

  &.active {
    background: $tertiary-color;
  }
}