<h2>Match Media Service</h2>
<p class="ms" [innerHTML]="'Media Type: ' + (mediaType | titlecase)"></p>
<ul>
  <li [class.active]="(mediaType === 'desktop')">Desktop</li>
  <li [class.active]="(mediaType === 'tablet')">Tablet</li>
  <li [class.active]="(mediaType === 'mobile')">Mobile</li>
</ul>
<h2>Match Media Directive</h2>
<p class="mm a" *matchMedia="'(max-width: 767px)'">Media width is less than 768 pixels.</p>
<p class="mm b" *matchMedia="'(min-width: 768px)'">Media width is greater than 768 pixels.</p>
<p class="mm c" *matchMedia="'(min-width: 1080px)'">Media width is greater than 1080 pixels.</p>