/* Uppercase Input */

div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

label {
  margin-right: 10px;
}

[type="text"] {
  border: none;
  height: 24px;
  padding: 0 6px;
}

p {

  &:nth-child(n+2) {
    margin-top: 20px;
  }
}