<h2>Uppercase Input</h2>
<div>
  <label for="userName">Name:</label>
  <input type="text" id="userName" [(ngModel)]="userName" (focus)="onFocus()" (blur)="onBlur()" uppercaseInput>
</div>
<p [innerHtml]="'current value ' +  (userName ? userName : ':-(')"></p>
<p [innerHtml]="'focus value ' +  (focusName ? focusName : ':-(')"></p>
<p [innerHtml]="'blur value ' +  (blurName ? blurName : ':-(')"></p>